<h1>Ваш прогресс</h1>

<h2>Общий прогресс</h2>
<ul>
    <li>Всего тренировок: {{ total_workouts }}</li>
    <li>Общее количество подходов: {{ total_sets }}</li>
    <li>Общее количество повторений: {{ total_reps }}</li>
    <li>Общий вес: {{ total_weight }} кг</li>
</ul>

<h2>Прогресс за последние 30 дней</h2>
<ul>
    <li>Количество подходов за последние 30 дней: {{ recent_sets }}</li>
    <li>Количество повторений за последние 30 дней: {{ recent_reps }}</li>
    <li>Вес за последние 30 дней: {{ recent_weight }} кг</li>
</ul>

<a href="{% url 'workout_list' %}">Назад к тренировкам</a>
